@model IEnumerable<DawnOfHistoryManager.Models.ActiveCiv>

@{
    ViewData["Title"] = "Games Index";
}

<h2>Games</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Civ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cities)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AstPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentPhase)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Civ.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cities)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AstPosition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentPhase)
            </td>
            <td>
                <a asp-controller="GameLoop" asp-action="Index" asp-route-id="@item.Id">Resume</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
